.water-card,
.ice-card {
    background-color: #68aae6;
}

.fire-card {
    background-color: #e99477;
}

.psychic-card,
.poison-card,
.ghost-card {
    background-color: #cea3ce;
}

.normal-card,
.fairy-card,
.dragon-card {
    background-color: #d1d5e1;
}

.fighting-card,
.ground-card,
.rock-card {
    background-color: #dbba99;
}

.electric-card {
    background-color: #ddde9a;
}

.grass-card,
.bug-card {
    background-color: #68ba6e;
}

.corner-card {
    background-color: #fede7b;
}