.water-card {
    background-color: #68aae6;
}

.fire-card {
    background-color: #e99477;
}

.psych-card {
    background-color: #cea3ce;
}

.normal-card {
    background-color: #d1d5e1;
}

.fight-card {
    background-color: #dbba99;
}

.electric-card {
    background-color: #ddde9a;
}

.plant-card {
    background-color: #68ba6e;
}

.corner-card {
    background-color: #fede7b;
}