:root {
    --bug: #3b9852;
    --dark: #5a5979;
    --dragon: #60cbd9;
    --electric: #fbfb72;
    --fairy: #ea1369;
    --fighting: #ed6336;
    --fire: #fd4c5a;
    --flying: #93b2c7;
    --ghost: #906790;
    --grass: #27cb4f;
    --ground: #6e491f;
    --ice: #d7f1f8;
    --normal: #ca98a7;
    --poison: #9b69d9;
    --psychic: #f81c91;
    --rock: #8b3e21;
    --steel: #41be94;
    --water: #86a8fc;
}