.bug-dark-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--dark) 100%);
}

.bug-dragon-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--dragon) 100%);
}

.bug-electric-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--electric) 100%);
}

.bug-fairy-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--fairy) 100%);
}

.bug-fighting-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--fighting) 100%);
}

.bug-fire-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--fire) 100%);
}

.bug-flying-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--flying) 100%);
}

.bug-ghost-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--ghost) 100%);
}

.bug-grass-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--grass) 100%);
}

.bug-ground-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--ground) 100%);
}

.bug-ice-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--ice) 100%);
}

.bug-normal-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--normal) 100%);
}

.bug-poison-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--poison) 100%);
}

.bug-psychic-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--psychic) 100%);
}

.bug-rock-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--rock) 100%);
}

.bug-steel-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--steel) 100%);
}

.bug-water-card {
    background: linear-gradient(45deg, var(--bug) 0%, var(--water) 100%);
}

.dark-bug-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--bug) 100%);
}

.dark-dragon-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--dragon) 100%);
}

.dark-electric-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--electric) 100%);
}

.dark-fairy-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--fairy) 100%);
}

.dark-fighting-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--fighting) 100%);
}

.dark-fire-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--fire) 100%);
}

.dark-flying-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--flying) 100%);
}

.dark-ghost-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--ghost) 100%);
}

.dark-grass-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--grass) 100%);
}

.dark-ground-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--ground) 100%);
}

.dark-ice-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--ice) 100%);
}

.dark-normal-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--normal) 100%);
}

.dark-poison-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--poison) 100%);
}

.dark-psychic-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--psychic) 100%);
}

.dark-rock-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--rock) 100%);
}

.dark-steel-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--steel) 100%);
}

.dark-water-card {
    background: linear-gradient(45deg, var(--dark) 0%, var(--water) 100%);
}

.dragon-bug-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--bug) 100%);
}

.dragon-dark-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--dark) 100%);
}

.dragon-electric-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--electric) 100%);
}

.dragon-fairy-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--fairy) 100%);
}

.dragon-fighting-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--fighting) 100%);
}

.dragon-fire-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--fire) 100%);
}

.dragon-flying-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--flying) 100%);
}

.dragon-ghost-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--ghost) 100%);
}

.dragon-grass-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--grass) 100%);
}

.dragon-ground-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--ground) 100%);
}

.dragon-ice-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--ice) 100%);
}

.dragon-normal-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--normal) 100%);
}

.dragon-poison-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--poison) 100%);
}

.dragon-psychic-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--psychic) 100%);
}

.dragon-rock-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--rock) 100%);
}

.dragon-steel-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--steel) 100%);
}

.dragon-water-card {
    background: linear-gradient(45deg, var(--dragon) 0%, var(--water) 100%);
}

.electric-bug-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--bug) 100%);
}

.electric-dark-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--dark) 100%);
}

.electric-dragon-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--dragon) 100%);
}

.electric-fairy-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--fairy) 100%);
}

.electric-fighting-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--fighting) 100%);
}

.electric-fire-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--fire) 100%);
}

.electric-flying-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--flying) 100%);
}

.electric-ghost-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--ghost) 100%);
}

.electric-grass-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--grass) 100%);
}

.electric-ground-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--ground) 100%);
}

.electric-ice-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--ice) 100%);
}

.electric-normal-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--normal) 100%);
}

.electric-poison-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--poison) 100%);
}

.electric-psychic-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--psychic) 100%);
}

.electric-rock-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--rock) 100%);
}

.electric-steel-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--steel) 100%);
}

.electric-water-card {
    background: linear-gradient(45deg, var(--electric) 0%, var(--water) 100%);
}

.fairy-bug-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--bug) 100%);
}

.fairy-dark-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--dark) 100%);
}

.fairy-dragon-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--dragon) 100%);
}

.fairy-electric-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--electric) 100%);
}

.fairy-fighting-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--fighting) 100%);
}

.fairy-fire-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--fire) 100%);
}

.fairy-flying-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--flying) 100%);
}

.fairy-ghost-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--ghost) 100%);
}

.fairy-grass-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--grass) 100%);
}

.fairy-ground-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--ground) 100%);
}

.fairy-ice-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--ice) 100%);
}

.fairy-normal-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--normal) 100%);
}

.fairy-poison-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--poison) 100%);
}

.fairy-psychic-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--psychic) 100%);
}

.fairy-rock-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--rock) 100%);
}

.fairy-steel-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--steel) 100%);
}

.fairy-water-card {
    background: linear-gradient(45deg, var(--fairy) 0%, var(--water) 100%);
}

.fighting-bug-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--bug) 100%);
}

.fighting-dark-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--dark) 100%);
}

.fighting-dragon-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--dragon) 100%);
}

.fighting-electric-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--electric) 100%);
}

.fighting-fairy-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--fairy) 100%);
}

.fighting-fire-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--fire) 100%);
}

.fighting-flying-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--flying) 100%);
}

.fighting-ghost-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--ghost) 100%);
}

.fighting-grass-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--grass) 100%);
}

.fighting-ground-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--ground) 100%);
}

.fighting-ice-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--ice) 100%);
}

.fighting-normal-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--normal) 100%);
}

.fighting-poison-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--poison) 100%);
}

.fighting-psychic-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--psychic) 100%);
}

.fighting-rock-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--rock) 100%);
}

.fighting-steel-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--steel) 100%);
}

.fighting-water-card {
    background: linear-gradient(45deg, var(--fighting) 0%, var(--water) 100%);
}

.fire-bug-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--bug) 100%);
}

.fire-dark-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--dark) 100%);
}

.fire-dragon-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--dragon) 100%);
}

.fire-electric-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--electric) 100%);
}

.fire-fairy-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--fairy) 100%);
}

.fire-fighting-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--fighting) 100%);
}

.fire-flying-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--flying) 100%);
}

.fire-ghost-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--ghost) 100%);
}

.fire-grass-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--grass) 100%);
}

.fire-ground-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--ground) 100%);
}

.fire-ice-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--ice) 100%);
}

.fire-normal-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--normal) 100%);
}

.fire-poison-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--poison) 100%);
}

.fire-psychic-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--psychic) 100%);
}

.fire-rock-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--rock) 100%);
}

.fire-steel-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--steel) 100%);
}

.fire-water-card {
    background: linear-gradient(45deg, var(--fire) 0%, var(--water) 100%);
}

.flying-bug-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--bug) 100%);
}

.flying-dark-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--dark) 100%);
}

.flying-dragon-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--dragon) 100%);
}

.flying-electric-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--electric) 100%);
}

.flying-fairy-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--fairy) 100%);
}

.flying-fighting-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--fighting) 100%);
}

.flying-fire-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--fire) 100%);
}

.flying-ghost-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--ghost) 100%);
}

.flying-grass-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--grass) 100%);
}

.flying-ground-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--ground) 100%);
}

.flying-ice-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--ice) 100%);
}

.flying-normal-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--normal) 100%);
}

.flying-poison-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--poison) 100%);
}

.flying-psychic-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--psychic) 100%);
}

.flying-rock-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--rock) 100%);
}

.flying-steel-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--steel) 100%);
}

.flying-water-card {
    background: linear-gradient(45deg, var(--flying) 0%, var(--water) 100%);
}

.ghost-bug-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--bug) 100%);
}

.ghost-dark-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--dark) 100%);
}

.ghost-dragon-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--dragon) 100%);
}

.ghost-electric-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--electric) 100%);
}

.ghost-fairy-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--fairy) 100%);
}

.ghost-fighting-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--fighting) 100%);
}

.ghost-fire-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--fire) 100%);
}

.ghost-flying-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--flying) 100%);
}

.ghost-grass-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--grass) 100%);
}

.ghost-ground-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--ground) 100%);
}

.ghost-ice-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--ice) 100%);
}

.ghost-normal-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--normal) 100%);
}

.ghost-poison-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--poison) 100%);
}

.ghost-psychic-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--psychic) 100%);
}

.ghost-rock-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--rock) 100%);
}

.ghost-steel-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--steel) 100%);
}

.ghost-water-card {
    background: linear-gradient(45deg, var(--ghost) 0%, var(--water) 100%);
}

.grass-bug-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--bug) 100%);
}

.grass-dark-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--dark) 100%);
}

.grass-dragon-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--dragon) 100%);
}

.grass-electric-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--electric) 100%);
}

.grass-fairy-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--fairy) 100%);
}

.grass-fighting-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--fighting) 100%);
}

.grass-fire-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--fire) 100%);
}

.grass-flying-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--flying) 100%);
}

.grass-ghost-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--ghost) 100%);
}

.grass-ground-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--ground) 100%);
}

.grass-ice-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--ice) 100%);
}

.grass-normal-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--normal) 100%);
}

.grass-poison-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--poison) 100%);
}

.grass-psychic-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--psychic) 100%);
}

.grass-rock-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--rock) 100%);
}

.grass-steel-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--steel) 100%);
}

.grass-water-card {
    background: linear-gradient(45deg, var(--grass) 0%, var(--water) 100%);
}

.ground-bug-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--bug) 100%);
}

.ground-dark-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--dark) 100%);
}

.ground-dragon-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--dragon) 100%);
}

.ground-electric-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--electric) 100%);
}

.ground-fairy-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--fairy) 100%);
}

.ground-fighting-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--fighting) 100%);
}

.ground-fire-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--fire) 100%);
}

.ground-flying-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--flying) 100%);
}

.ground-ghost-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--ghost) 100%);
}

.ground-grass-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--grass) 100%);
}

.ground-ice-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--ice) 100%);
}

.ground-normal-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--normal) 100%);
}

.ground-poison-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--poison) 100%);
}

.ground-psychic-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--psychic) 100%);
}

.ground-rock-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--rock) 100%);
}

.ground-steel-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--steel) 100%);
}

.ground-water-card {
    background: linear-gradient(45deg, var(--ground) 0%, var(--water) 100%);
}

.ice-bug-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--bug) 100%);
}

.ice-dark-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--dark) 100%);
}

.ice-dragon-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--dragon) 100%);
}

.ice-electric-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--electric) 100%);
}

.ice-fairy-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--fairy) 100%);
}

.ice-fighting-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--fighting) 100%);
}

.ice-fire-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--fire) 100%);
}

.ice-flying-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--flying) 100%);
}

.ice-ghost-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--ghost) 100%);
}

.ice-grass-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--grass) 100%);
}

.ice-ground-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--ground) 100%);
}

.ice-normal-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--normal) 100%);
}

.ice-poison-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--poison) 100%);
}

.ice-psychic-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--psychic) 100%);
}

.ice-rock-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--rock) 100%);
}

.ice-steel-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--steel) 100%);
}

.ice-water-card {
    background: linear-gradient(45deg, var(--ice) 0%, var(--water) 100%);
}

.normal-bug-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--bug) 100%);
}

.normal-dark-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--dark) 100%);
}

.normal-dragon-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--dragon) 100%);
}

.normal-electric-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--electric) 100%);
}

.normal-fairy-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--fairy) 100%);
}

.normal-fighting-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--fighting) 100%);
}

.normal-fire-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--fire) 100%);
}

.normal-flying-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--flying) 100%);
}

.normal-ghost-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--ghost) 100%);
}

.normal-grass-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--grass) 100%);
}

.normal-ground-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--ground) 100%);
}

.normal-ice-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--ice) 100%);
}

.normal-poison-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--poison) 100%);
}

.normal-psychic-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--psychic) 100%);
}

.normal-rock-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--rock) 100%);
}

.normal-steel-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--steel) 100%);
}

.normal-water-card {
    background: linear-gradient(45deg, var(--normal) 0%, var(--water) 100%);
}

.poison-bug-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--bug) 100%);
}

.poison-dark-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--dark) 100%);
}

.poison-dragon-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--dragon) 100%);
}

.poison-electric-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--electric) 100%);
}

.poison-fairy-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--fairy) 100%);
}

.poison-fighting-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--fighting) 100%);
}

.poison-fire-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--fire) 100%);
}

.poison-flying-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--flying) 100%);
}

.poison-ghost-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--ghost) 100%);
}

.poison-grass-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--grass) 100%);
}

.poison-ground-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--ground) 100%);
}

.poison-ice-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--ice) 100%);
}

.poison-normal-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--normal) 100%);
}

.poison-psychic-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--psychic) 100%);
}

.poison-rock-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--rock) 100%);
}

.poison-steel-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--steel) 100%);
}

.poison-water-card {
    background: linear-gradient(45deg, var(--poison) 0%, var(--water) 100%);
}

.psychic-bug-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--bug) 100%);
}

.psychic-dark-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--dark) 100%);
}

.psychic-dragon-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--dragon) 100%);
}

.psychic-electric-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--electric) 100%);
}

.psychic-fairy-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--fairy) 100%);
}

.psychic-fighting-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--fighting) 100%);
}

.psychic-fire-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--fire) 100%);
}

.psychic-flying-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--flying) 100%);
}

.psychic-ghost-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--ghost) 100%);
}

.psychic-grass-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--grass) 100%);
}

.psychic-ground-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--ground) 100%);
}

.psychic-ice-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--ice) 100%);
}

.psychic-normal-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--normal) 100%);
}

.psychic-poison-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--poison) 100%);
}

.psychic-rock-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--rock) 100%);
}

.psychic-steel-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--steel) 100%);
}

.psychic-water-card {
    background: linear-gradient(45deg, var(--psychic) 0%, var(--water) 100%);
}

.rock-bug-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--bug) 100%);
}

.rock-dark-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--dark) 100%);
}

.rock-dragon-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--dragon) 100%);
}

.rock-electric-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--electric) 100%);
}

.rock-fairy-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--fairy) 100%);
}

.rock-fighting-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--fighting) 100%);
}

.rock-fire-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--fire) 100%);
}

.rock-flying-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--flying) 100%);
}

.rock-ghost-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--ghost) 100%);
}

.rock-grass-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--grass) 100%);
}

.rock-ground-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--ground) 100%);
}

.rock-ice-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--ice) 100%);
}

.rock-normal-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--normal) 100%);
}

.rock-poison-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--poison) 100%);
}

.rock-psychic-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--psychic) 100%);
}

.rock-steel-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--steel) 100%);
}

.rock-water-card {
    background: linear-gradient(45deg, var(--rock) 0%, var(--water) 100%);
}

.steel-bug-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--bug) 100%);
}

.steel-dark-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--dark) 100%);
}

.steel-dragon-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--dragon) 100%);
}

.steel-electric-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--electric) 100%);
}

.steel-fairy-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--fairy) 100%);
}

.steel-fighting-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--fighting) 100%);
}

.steel-fire-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--fire) 100%);
}

.steel-flying-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--flying) 100%);
}

.steel-ghost-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--ghost) 100%);
}

.steel-grass-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--grass) 100%);
}

.steel-ground-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--ground) 100%);
}

.steel-ice-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--ice) 100%);
}

.steel-normal-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--normal) 100%);
}

.steel-poison-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--poison) 100%);
}

.steel-psychic-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--psychic) 100%);
}

.steel-rock-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--rock) 100%);
}

.steel-water-card {
    background: linear-gradient(45deg, var(--steel) 0%, var(--water) 100%);
}

.water-bug-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--bug) 100%);
}

.water-dark-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--dark) 100%);
}

.water-dragon-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--dragon) 100%);
}

.water-electric-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--electric) 100%);
}

.water-fairy-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--fairy) 100%);
}

.water-fighting-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--fighting) 100%);
}

.water-fire-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--fire) 100%);
}

.water-flying-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--flying) 100%);
}

.water-ghost-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--ghost) 100%);
}

.water-grass-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--grass) 100%);
}

.water-ground-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--ground) 100%);
}

.water-ice-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--ice) 100%);
}

.water-normal-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--normal) 100%);
}

.water-poison-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--poison) 100%);
}

.water-psychic-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--psychic) 100%);
}

.water-rock-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--rock) 100%);
}

.water-steel-card {
    background: linear-gradient(45deg, var(--water) 0%, var(--steel) 100%);
}