.content {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: center;
    gap: 32px;
}

@media(max-width:1600px) {
    .content {
        grid-template-columns: auto auto;
    }
}

@media(max-width:1050px) {
    .content {
        grid-template-columns: auto;
    }
}

@media(max-width:535px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.red-warning {
    color: red;
    width: 85%;
    text-align: right;
    height: 8px;
}

.little-cross {
    border: none;
    padding: 8px;
    margin-left: 8px;
    background-color: rgba(255, 255, 255, 0);
}

.little-cross:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    align-items: center;
    width: 100%;
}

body {
    background: #3B9852;
    background: radial-gradient(circle, rgba(59, 152, 82, 1) 0%, rgba(90, 89, 121, 1) 5%, rgba(96, 203, 217, 1) 10%, rgba(251, 251, 114, 1) 15%, rgba(234, 19, 105, 1) 20%, rgba(237, 99, 54, 1) 25%, rgba(253, 76, 90, 1) 30%, rgba(147, 178, 199, 1) 35%, rgba(144, 103, 144, 1) 40%, rgba(39, 203, 79, 1) 45%, rgba(110, 73, 31, 1) 51%, rgba(215, 241, 248, 1) 57%, rgba(202, 152, 167, 1) 64%, rgba(155, 105, 217, 1) 71%, rgba(248, 28, 145, 1) 78%, rgba(139, 62, 33, 1) 84%, rgba(65, 190, 148, 1) 92%, rgba(134, 168, 252, 1) 100%);
    display: flex;
    justify-content: center;
}

.dialog-style {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    backdrop-filter: blur(4px);
}

.pokemon-frame {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
    transform: scale(1.2);
}

@media(max-width:900px) {
    .pokemon-frame {
        align-items: center;
    }

    .pokemon-frame {
        transform: scale(0.9);
    }
}

.d_none {
    display: none !important;
}